*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', sans-serif;
}
.header{
    margin-top: 50px;
    margin-left: 50px;
    border-top: 1px solid rgb(238, 238, 238);
    padding-top: 15px;
    padding-bottom: 15px;
    width: 1400px;
}
.logo{
    vertical-align: middle;
}
.text-logo{
    vertical-align: middle;
    font-size: 30px;
    display: inline-block;
}
.container{
    background-color: rgb(238, 238, 238);
    width: 1400px;
    height: 650px;
    margin: auto;
    padding: 30px;
}
.bar{
    background-color: white;
    width: 600px;
    height: 600px;
    margin: auto;
    border-radius: 5px;
}
.bottoni{
    border-bottom: 2px solid rgb(238, 238, 238);
    padding: 20px;
}
.add-task{
    background-color: lightskyblue;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.add-section{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    color: lightgray;
}

.new-task, .today, .upcoming{
    padding: 10px;
    margin: 20px 20px;
    
}
ul{
    list-style-type: none;
    margin: 10px;
}
li{
    margin-bottom: 15px;
}
.check{
    color: greenyellow;
    border: 1px solid greenyellow;
    border-radius: 100%;
}
.cross{
    color: red;
    border: 1px solid red;
    border-radius: 100%;

}
.bottom-editorial{
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 10px;
    
}
h3{
    font-weight: bold;
    font-size: 20px;
}
.bottom{
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 10px;
}
.goals{
    background-color: slateblue;
}
.recruiting{
    background-color: rgb(39, 170, 103);
}
.mobile{
    background-color: rgb(255, 181, 44);
}
.website{
    background-color: violet;
}
.sales{
    background-color: rgb(171, 253, 63);
}