*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    margin-top: 50px;
    margin-left: 50px;
    border-top: 1px solid lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 1400px;
}
.logo{
    vertical-align: middle;
}
.text-logo{
    vertical-align: middle;
    font-size: 30px;
    display: inline-block;
}
.container{
    background-color: lightgray;
    width: 1400px;
    height: 600px;
    margin: auto;
    padding: 30px;
}
.bar{
    background-color: white;
    width: 600px;
    height: 550px;
    margin: auto;
    border-radius: 5px;
}
.bottoni{
    border-bottom: 1px solid black;
    padding: 20px;
}
.add-task{
    background-color: lightskyblue;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.add-section{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    color: lightgray;
}